* {
     margin: 0;
     padding: 0;
     font-family: sans-serif, Roboto;
     color: rgb(184, 200, 223);
}

body {
     background: #000;
}

/* Add a black background color to the top navigation */
.topnav, #navbar {
  background-color: #000;
  overflow: hidden;
  padding-top: 30px;
  float: right;
  padding-bottom: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #020970;
  color: white;
}
/* Logo */
.logo {
      display: inline;
      float: left;
       margin-right: 700px;
      }

.logo img {
    height: 50px;
    float: left;
   
}

.burger {
  display: none;
  cursor: pointer;
}

.burger {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  padding: 10;;
}


/* Home Background Image */
img {
     background-size: cover;
     background-position: cover;
}

/* Home Button */
.hero-btn {
    background: #020970;
    margin-left: 270px;
    padding: 15px;
    font-size: 20px;
}

.hero-btn:hover {
      background: #fff;
      color: #020970;
}

.hero-btn a {
    text-decoration: none;
    color: #fff;
}

/* Grey Background Text */
.grey_text {
     color: rgb(46, 43, 43);
     margin-left: 250px;
     margin-bottom: 0px;
     padding-top: 140px;
     font-size: 60px;
}

.home_background {
      background-image: url(/okekings/images/graphoto.png);
      height: 70vh;
      background-size: cover;
      background-repeat: no-repeat;
}


/* Home Page Wallpaper */
.home_text {
     margin-left: 250px;
     margin-top: 40px;
     padding: 20px;
}

.home_text, h1, h3, h4, p {
     color: rgb(184, 200, 223);
     padding: 10px;
     
}
/* About Me Page */

.about_page {
     margin-top: 70px;
     margin-bottom: 40px;
     margin-right: 30px;
     margin-left: 30px;
}

.about_title{
     font-size: 45px;
     text-align: center;
}

.paragraph_of_about {
     padding: 15px;
     font-size: 18px;
     font: Roboto;
}

.about_link, .contact_link {
     color: rgb(184, 200, 223);
     padding: 20px;
     padding-top: 35px;
     text-align: center;
     padding-bottom: 30px;
     text-decoration: none;
     font-size: 30px;
     margin-left: 60px;
}

.column {
  float: left;
  width: 40%;
  color: #fff;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

.form-group {
  margin-top: 10%;
}

/* Contact Form Style */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 60%; /* Full width */
  background:rgb(223, 217, 217);
  display: block; /* Display form vertical */
  padding: 10px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #020970;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

/* When moving the mouse over the submit button, add a black color */
input[type=submit]:hover {
  background-color: #fff;
  color: #020970;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  margin: 50px;
}


/* Footer setup here */
footer{
     background: #000;
}

.footer_container {
     background: #000;
     color:rgb(184, 200, 223);
     padding: 20px;
     text-align: center;
     font-size: 20px;

}


@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
  navbar{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinks {
  from {
      opacity: 0;
      transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}